<nav class="navbar navbar-expand-lg navbar-dark shadow-lg">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">Noxe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" *ngIf="checkLogin" routerLinkActive="text-info" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="text-info" *ngIf="checkLogin" routerLink="movies">movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="text-info" *ngIf="checkLogin" routerLink="people">people</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="text-info" *ngIf="checkLogin" routerLink="tvshows">tvshows</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-2 mb-2 mb-lg-0">
                <li class="nav-item">
                    <form class="d-flex">
                        <input class="form-control me-2" *ngIf="checkLogin" type="search" (keyup)="globalSearch($event)" placeholder="Search" aria-label="Search">
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="text-info" *ngIf="!checkLogin" routerLink="regester">Regester</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="text-info" *ngIf="!checkLogin" routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="checkLogin" routerLink="login" (click)="logOut()">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
                </li>
        </ul>
        </div>
    </div>
</nav>